* {
  background-color: #ebd954;
  /* margin: 0px;
  padding: 0px; */
}

img {
  width: 500px;
  padding: auto;
  margin: 30px auto;
  text-align: center;
  border-radius: 20px;
  box-shadow: 10px 100px 100px black;
  float: mid;
  display: block;
}

h1 {
  text-align: center;
  font-size: 40px;
  box-shadow: 10px 10px 30px black;
}

.history {
  margin: 50px;
  padding: 50px;
  text-align: center;
  font-size: 30px;
}

.historyText {
  padding: 30px;
  border: 5px solid black;
  margin: 10px;
  box-sizing: border-box;
  font-size: 20px;
}

.historyAll {
  text-align: center;
  margin: 50px auto;
  color: black;
  box-sizing: border-box;
}

.what {
  margin: 50px;
  text-align: center;
  font-size: 30px;
}

.whatText {
  border: 5px solid black;
  padding: 30px;
  margin: 10px;
  font-size: 20px;
}

.tableInputs {
  font-size: 50px;
}

.tableContents {
  margin: 50px auto;
  padding: 10px;
}

.table {
  font-size: 150%;
  padding: 100px auto;
  margin: 20px auto;
  box-sizing: border-box;
  text-align: left;
}

.link {
  color: #4c0ceb;
  font-size: 130%;
  margin: 50px;
  padding: 10px;
  display: inline;
  border: 2px solid #4c0ceb;
  text-align: center;
  background-color: #ff9800;
  /* background-color: rgb(47, 227, 227); */
}

.formH2 {
  margin-left: 15px;
  font-size: 20px;
}

form {
  margin-left: 15px;
  font-size: 20px;
}

input {
  margin-top: 5px;
}
input[type="submit"] {
  margin: 10px auto;
  padding-left: 5px;
  padding-right: 5px;
}

textarea {
  margin: 10px auto;
}

.tutorialsH2 {
  margin: 10px 15px;
}
.flex-container {
  display: flex;
  height: 600px;
  margin: 10px auto;
  padding: 10px 100px;
  flex-wrap: wrap;
  align-content: space-between;
}
